.upper-part {
    display: flex;
    background-color: #CE0505;
    margin-top: -1px;
    width: 1520px;
    height: 60px;


}

body {

    box-shadow: 0px 9px 9px #00000029;
    height: 720px;
    width: 98.5%;
    font-family: 'Poppins', sans-serif;
    
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color: #EB2929;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    margin-left: 60px;
    

}

.login {
    margin-left: 1093px;
    color: #FFFFFF;
    margin-top: 22px;
    font-size: 15px;
    font-weight: bold;
}

.create {
    margin-top: 16px;
    margin-left: 20px;
    height: 3.9vh;
    width: 180px;
    font-size: 10x;

    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 20px;
    border: 1px solid #FFFFFF;
    

}

h1 {
    margin-left: 200px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    
}

.all-part {
    display: flex;
}

.left-filter {
    height: 555px;
    width: 230px;
    box-shadow: 0px 3px 6px #00000029;

    margin-left: 200px;
    margin-top: -19px;
}

.whole-adj-of-leftside {
    margin-left: 40px;
    margin-top: 30px;
}

.filters {
    font-size: 18px;
    color: #192F60;
    font-weight: bolder;
    
}

.sel-loc {
    color: #192F60;
    margin-top: 16px;
}

h5 {
    color: #636F88;
}

.sel-again {
    width: 170px;
    height: 4.8vh;
    margin-top: -29px;
    text-align: center;
    font-size: 75%;
    color: #8C96AB;
}

.cuisine {
    color: #192F60;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 900;
}

.cuisine-checkbox {
    margin-top: 5px;
    color: #8C96AB;
    font-size: 12px;
}

.for-food {
    margin-left: 10px;
}

.cft {
    color: #192F60;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bolder;
    
}

.cft-radio {
    color: #8C96AB;
    margin-top: 10px;
    font-size: 12px;
}

.sort {
    color: #192F60;
    padding-top: 15px;
    font-size: 14px;
    font-weight: bolder;
}

.sort-radio-again {
    color: #8C96AB;
    margin-top: 10px;
    font-size: 12px;
}

.box {
    margin-left: 55px;
    margin-top: -33px;
}

.box1 {
    height: 250px;
    width: 600px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 20px;
}

.box2 {
    height: 250px;
    width: 600px;
    box-shadow: 0px 3px 6px #00000029;
}

.leftimg {
    margin-left: 30px;
    margin-top: 15px;
}

.leftimg img {
    margin-top: 15px;
}

.rightside {
    margin-left: 180px;
    margin-top: -111px;
    font-weight: bolder;
}

h1 {
    color: #192F60;
    
}

.rightside h1 {
    margin-left: 5px;
}

p {
    color: #192F60;
    font-size: 15px;
    margin-top: -15px;
    margin-left: 4px;
    font-weight: bolder;
}

h5 {
    color: #636F88;
    margin-top: -10px;
    margin-left: 4px;
}

hr {
    width: 520px;
    margin-top: 50px;
    color: #DEDFE5;
    background-color: #DEDFE5;

}

.below-part {
    margin-left: 50px;
}

.CU-CO-F-T {
    padding-top: 5px;
    line-height: 30px;
    color: #636F88;
    font-size: 11px;
    font-weight: bold;
}

.ba700 {
    margin-left: 136px;
    margin-top: -64px;
    line-height: 3;
    font-size: 12px;
    font-weight: bolder;
    color: #192F60;
}

.page-numbers {
    display: flex;
    justify-content: center;  
    
}

.num {
   border: 2px solid #b3b8c4;
   color: #8C96AB;
   border-radius: 20%;
    width: 25px;
    height: 25px;
    margin: 10px;
    margin-top: -10px;
    text-align: center;
    font-weight: bolder;   
}
.num:hover{
    background-color: #8C96AB;
    color: #eaedf3;
}

